{% load static %}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>SUCCESS-PRECCO</title>
<!-- plugins:css -->
<link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
<!-- Layout styles -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

<style>
#input-file{
  display: none;
}

#load{
  background-color: green;
  color: white;
}

label{
  cursor: pointer;
}

#img{
  /* width: 30px; */
  height: 10vh;
}

#cursor{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
}
</style>